controlshelp {
    position: absolute;
    right: 64px;
    bottom: 128px;
    flex-direction: column;
    padding-bottom: 16px;

    .row {
        flex-direction: row;
        align-items: center;
        margin-bottom: 8px;
        justify-content: flex-end;

        .icon {
            font-family: MaterialIcons;
            font-size: 28px;
            color: white;
            margin-right: 8px;
        }

        .text {
            font-family: Poppins;
            font-size: 18px;
            font-weight: 500;
            color: white;
        }
    }
}
