endscore {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(black, 0.8);
    opacity: 0;
    transition: opacity 0.25s ease-in;
    z-index: 5000;

    label {
        color: white;
        font-family: Poppins;
        font-weight: 700;
        text-transform: uppercase;
    }

    label.score {
        color: #efa307;
        font-size: 144px;
        text-shadow: 5px 5px 5px #732a00;
        margin-bottom: 12px;
        transform: rotate( -3deg );
    }

    label.hole {
        font-size: 42px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
        margin-top: -32px;
    }

    &.show {
        opacity: 1;
    }
}
