holescore {
    position: absolute;
    bottom: 86px;
    right: 120px;
    flex-direction: column;

    panel {
        flex-direction: row;
        justify-content: flex-end;

        label {
            color: white;
            font-size: 32px;
            font-family: AAhaWow;
            font-weight: bold;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
            margin-top: 4px;

            &:first-child {
                margin-right: 16px;
            }
        }
    }
}
