basenametag {
    position: absolute;
    //background-color: rgba( #222, 0.95 );
    //transform-origin: 50% 0%;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

    label {
        font-family: Poppins;
        color: white;
        font-size: 40px;
        font-weight: 500;
        padding: 1px 60px;
        padding-left: 40px;
        text-shadow: 0px 0px 1px 50px rgba(black,1);
    }

    image {
        width: 60px;
        height: 60px;
        margin: 20px;
        margin-right: 0px;
        border-radius: 100px;
    }
}
