powerbar {
    position: absolute;
    bottom: 86px;
    left: 120px;
    flex-direction: column;

    label {
        color: white;
        font-size: 32px;
        font-family: AAhaWow;
        font-weight: bold;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    }

    .bar {
        margin-top: 8px;
        border: 4px rgba(0, 0, 0, 0.9) solid;
        border-radius: 4px;
        padding: 4px;
        background-color: rgba(0, 0, 0, 0.25);
        height: 48px;
        width: 400px;

        panel {
            opacity: 0;
            background-color: limegreen;
            height: 100%;
            border-radius: 4px;
        }
    }

    &.active .bar panel {
        opacity: 1;
    }
}
